{%extends 'admin/base.html'%}{% load static %}{% load icons %}




{% block branding %}
<h1 id="head" >VirtualSchool Admin</h1>
{% icon 'edit' %}
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/adminstyle.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.
˓→css"
rel="stylesheet"
integrity="sha384-
˓→wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
crossorigin="anonymous"
>
{% endblock %}
{% block sidenav%}

{% endblock %}

