{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}

<h1 id="head">
    <img src="{% static 'images/logo.png' %}" width="35" height="35" alt="">
    Virtual School
</h1>

{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
    <div class="app-auth module"></div>
    <div class="app-sites module"></div>
    <div class="app-social account module"></div>


    {% endif %}

{% endblock %}

{% block footer %}
<div id="footer">
    <p>Virtual school ©2020</p>
    
</div>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/adminstyles.css' %}">

{% endblock %}

